[color]
  diff = always
  status = auto
  branch = auto
  show-branch = always
[user]
	name = Alex McHardy
	email = amchardy@shutterstock.com
[core]
	pager = less -FRX --tabs=4
	editor = vi -u NONE
[push]
	default = current
[alias]
	ci = checkout-interactive
	co = checkout
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%Creset%C(yellow bold)%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
	la = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%Creset%C(yellow bold)%d%Creset %s %Cgreen(%cr)%Creset' --date=relative --all
	lh = "!git lg | head"
	lhh = "!git lg | head -n20"
	lah = "!git la | head"
	lahh = "!git la | head -n20"
	stashlh = "!git stash list | head"
	gh = "!open \"$(git remote -v | grep $(git config \"branch.$(git rev-parse --abbrev-ref HEAD).remote\") | grep push | cut -f 2 | cut -d \" \" -f 1 | sed -e \"s|git@\\(.*\\):\\(.*\\)\\(.git\\)$|https://\\1/\\2|\")/tree/$(git rev-parse --abbrev-ref HEAD)\""
	lastbranch = "!git for-each-ref --sort='-committerdate' refs/heads/ --format='%1B[0;31m%(refname:short)%1B[0;39m %1B[0;90m-%1B[0;39m %1B[0;93m%(authorname)%1B[0;39m %1B[0;91m%(committerdate)%1B[0;39mLINEBREAK%1B[0;90m>%1B[0;39m %(subject)LINEBREAK' | head -n 10 | sed 's/LINEBREAK/\\\n/g'"
	mylastbranch = "!git for-each-ref --sort='-committerdate' refs/heads/ --format='%1B[0;31m%(refname:short)%1B[0;39m %1B[0;90m-%1B[0;39m %1B[0;93m%(authorname)%1B[0;39m %1B[0;91m%(committerdate)%1B[0;39m LINEBREAK%1B[0;90m>%1B[0;39m %(subject) LINEBREAK%(authorname)' | grep \"$(git config user.name)\" | head -n 10 | sed \"s/$(git config user.name)//g\" | sed 's/LINEBREAK/\\\n/g'"
	tst = "!echo \"$(git config user.name)\""
	vd = difftool -y -t vimdiff
	ghp = subtree push --prefix _gh_pages origin gh-pages
	coma = commit --amend --no-edit
	rebcon = rebase --continue
	fetum = fetch upstream main
	rebum = rebase upstream/main
[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[hub]
	host = github.shuttercorp.net
[rerere]
	enabled = true
	autoupdate = true
